{% extends "@Modules/jumponit/template/admin/index.html.twig" %}

{% block main %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Code postal</th>
            <th scope="col">Produits</th>
            <th scope="col">Vendeurs</th>
            <th scope="col">Dernière action</th>
            <th scope="col">Actif</th>
        </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <th scope="col">{{ city.id_city }}</th>
                <td>{% autoescape false %}{{ city.nom_comm }}{% endautoescape %}</td>
                <td>{{ city.postal_code }}</td>
                <td>{{ city.product_count }}</td>
                <td>{{ city.seller_count }}</td>
                <td>Dernière action</td>
                <td>
                    <div class="form-check form-switch">
                        {% if not city.id_feature_value %}
                            <a
                                href="{{ path('joi_admin_city_activity', {'id_city': city.id_city, 'state': 1} ) }}"
                                type="submit"
                                class="btn btn-outline-primary mx-1"
                            >
                                Activer
                            </a>
                        {% else %}
                            <a
                                href="{{ path('joi_admin_city_activity', {'id_city': city.id_city, 'state': 0} ) }}"
                                type="submit"
                                class="btn btn-outline-primary mx-1"
                            >
                                Désactiver
                            </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
